---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
    {
      tags.length && (
        <>
          <div class="tags">
            {tags.map((tag) => (
              <a href={`/articles/tags/${tag}`}>#{tag}</a>
            ))}
          </div>
        </>
      )
    }
  </article>
</BaseLayout>
<style>
  .title {
    margin-bottom: 1em;
    text-align: center;
  }
  .title h1 {
    margin-bottom: 0.5em;
  }
  .date {
    color: var(--text-secondary);
  }
  .last-updated-on {
    font-style: italic;
  }
  .tags {
    display: flex;
    justify-content: center;
    column-gap: 0.75em;
    flex-wrap: wrap;
  }
  .tags a {
    font-weight: normal;
  }
</style>
